.row-status {
}
.row-status-1 {
  background-color: rgb(254, 241, 255);
}
.row-status-2 {
  background-color: rgb(224, 236, 255);
}
.row-status-3 {
  background-color: rgb(223, 255, 235);
}
.row-status-4 {
  background-color: rgb(255, 214, 219);
}
.row-status-5 {
  background-color: rgb(196, 196, 196);
  color: red;
}

.custom-control-label {
  padding-top: 0.25rem;
}
